<div class="chat-container">
  <div id="title">Chat</div>
  <hr />
  <section class="messages-ontainer">
    <div class="messages" *ngFor="let msg of messages">
      <div>
        <img *ngIf="msg.userIcon" [src]="msg.userIcon" class="cd-user-avatar-xs" />
        <strong>{{ msg.username }}:</strong>{{ msg.data }}
        <span class="timestamp" *ngIf="msg.sentAt"> ({{ msg.sentAt | date: 'shortTime' }}) </span>
      </div>
    </div>
  </section>

  <div class="chat-controls">
    <form (ngSubmit)="send()">
      <input
        class="newMessageText"
        type="text"
        name="newMessageText"
        id="newMessageText"
        [(ngModel)]="newMessageText"
        placeholder="digite sua mensagem"
        autocomplete="off"
      />
      <input class="btn-secondary" type="submit" value=">" />
    </form>
  </div>
</div>
